        .h5{
            height:100%;
        }
        .h5_page{
            position: relative;
            width:100%;
            height:100%;
            background-color: #ddd;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        /*polyline*/
        .h5_component_polyline canvas{
            position: absolute;
            left:0;
            top:0;
            width: 100%;
            height: 100%;    
        }
        .h5_component_polyline .text{
            position: absolute;
            font-size: 12px;
            text-align: center;
            bottom: -20px;
            height: 20px;
            line-height: 20px;
            -webkit-transform:scale(.8);
            -webkit-transition:all 1s 1.5s;
            -webkit-opacity:0;
        }
        .h5_component_polyline_load .text{
            -webkit-opacity:1;
        }
        .h5_component_polyline_leave .text{
            -webkit-opacity:0;
        }


        /*pie    */
        .h5_component_pie canvas{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .h5_component_pie .text{
            position: absolute;
            text-align: center;
            z-index: 99;
            height: 24px;
            transition: all 1s;
        }

        /*bar*/
        .h5_component_bar .line{
            height: 15px;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 15px;
        }
        .h5_component_bar .name{
            width:60px;
            float:left;
            color:#000;
            text-align: center;
        }
        .h5_component_bar .rate{
            height: 15px;
            margin-left: 5px;
            float: left;
            position: relative;
        }
        .h5_component_bar .rate .bg{
            background-color: #99c0ff;
            width: 0;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 3px;
        }
        .h5_component_bar .per{
            width: 20px;
            color:#99c0ff;
            margin-left: 5px;
            float: left;
            -webkit-opacity:0;
        }
        .h5_component_bar_load .rate .bg{
            -webkit-transition: all 1s .5s;
            width: 100%;
        }

        .h5_component_bar_leave .rate .bg{
            width: 0%;
        }
        .h5_component_bar_load .per{
            -webkit-transition: all 1s 1.5s;
            -webkit-opacity:1;
        }
        .h5_component_bar_leave .per{
            -webkit-opacity:0;
        }

        /*radar*/
        .h5_component_radar canvas{
            position: absolute;
            left:0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .h5_component_radar .text{
            position: absolute;
            font-size: 12px;
            transition: all 1s;
        }
        /*point*/
        .h5_component_point{
            color: #fff;
        }
        .h5_component_point .point{
            display: block;
            background-color: #ccc;
            position: absolute;
            border-radius: 50%;
        }
        .h5_component_point .name{
            height: 30px;
            width:100%;
            text-align: center;
            position: absolute;
            top:50%;
            margin-top: -15px;
            font-size: 22px;
        }
        .h5_component_point .per{
            font-size: .5em;
        }